@page "/data/people"
@page "/"
@using DataAccessLib
@using DataAccessLib.Models
@inject IPeopleData _db
@using BlazorDapper.Models;

<h3>People</h3>

<h4>Inser new person</h4>
<EditForm Model="@newPerson" OnValidSubmit="@SubmitNewPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="FirstName" @bind-Value="newPerson.FirstName" />
    <InputText id="LastName" @bind-Value="newPerson.LastName" />
    <InputText id="EmailAddress" @bind-Value="newPerson.EmailAddress" />

    <button type="submit" class="btn btn-dark">Submit</button>
</EditForm>


<h3>Current People</h3>

@if (people == null)
{
    <p><em>Loading..</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PersonModel> people;
    private DisplayPersonModel newPerson = new DisplayPersonModel();

    protected override async Task OnInitializedAsync()
    {
        people = await _db.GetPeople();
    }


    private async Task SubmitNewPerson()
    {
        PersonModel p = new PersonModel
        {
            FirstName = newPerson.FirstName,
            LastName = newPerson.LastName,
            EmailAddress = newPerson.EmailAddress
        };
        await _db.InsertPerson(p);
        people.Add(p);
        newPerson = new DisplayPersonModel();
    }
}
